<!DOCTYPE html>
<html>
  <head>
    <title>PostcodeChecker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <p><%= link_to 'Check a postcode', root_path %></p>
    <p><%= link_to 'Whitelisted postcodes', whitelisted_postcodes_path %></p>

  </body>
</html>
